.galeryContent{
  color:white;
  height: 100%;
  margin-bottom: 10px;
  min-height: 500px;
}
#Gallery{
  margin-bottom: 10px;
}
.loadingGaleryContent{
  color:white;
  margin-bottom: 10px;
  min-height: 1000px;
}
