.infoMenuButton{
  height: 50px;
  margin-left: 0px;
  margin-right: 0px;
  overflow: hidden;
  opacity: 0.5;
  background: rgba(0, 0, 0, 0.5);
  font-family: 'Lato', sans-serif;
  font-size: 2.5em;
  font-weight: 900;
}
.clicked{
  background-color: transparent;
}
.transportContent{
  height: 100%;
  margin-top: 20px;
  font-family: 'Lato', sans-serif;
  font-size: 0.8em;
  // text-align: left;
  width: 100%;
}
.bookingContent{
  overflow: hidden;
  height: 100%;
  margin-top: 20px;
  font-family: 'Lato', sans-serif;
  font-size: 2.0em;
  text-align: left;
  width: 100%;
  margin-bottom: 20px;
}
.bookingText{
  font-size: 0.8em;
}
.bookingImg{
  border:1px solid white;
}
.bookingImgContent{
  text-align: center;
}
.bookingTextRow{
  margin-top: 20px;
}
