#eventList{
  color:white;
  height: 100%;
  margin-bottom: 10px;
}
// Variables
$thickness:  6px;
$fontStyle: 'Lato', sans-serif;
$lineColor: #FFFFFF;
$dotColor: #FFFFFF;
$textSize: 16px;
$hoverColor : #FFFFFF;
$dotWeight : 4px;
$opacity : 0.5;
$hoverOpacity : 0.7;


.bg-line {
  opacity: $opacity;
   width: 100%;
   height: 100%;
   &--h {
      background: linear-gradient(0deg, $lineColor, $lineColor) 50% 50% no-repeat;
      background-size: $thickness 100%;
   }
}

.dotRight{
  opacity: $opacity;
  width: 100%;
  margin-bottom: 2px;
  margin-top: 3px;
  font-size: 17px;
  font-family: $fontStyle;
}
.dotRight::before{
  content: '\00a0\00a0\00a0\00a0\00a0\00a0';
  border: 4px solid $dotColor;
  border-radius: 50%;
  margin-left: 91px;
}
.dotLeft{
  opacity: $opacity;
  margin-bottom: 2px;
  margin-top: 3px;
  width: 100%;
  font-size: 17px;
  font-family: $fontStyle;
}
.dotLeft::after{
  content: '\00a0\00a0\00a0\00a0\00a0\00a0';
  border: 4px solid $dotColor;
  border-radius: 50%;
  margin-right: 87px;
  width: 50px;
  height: 50px;
}
.content1{
  opacity: $opacity;
  width: 50%;
  float: right;
}
.line{
  height: 30px;
  min-height: 100px;
}
.lineContent{
  opacity: $opacity;
  height: 100px;
  font-size: $textSize;
  font-family: $fontStyle;
  font-weight: 700;
  padding-top: 10px;
}
.textHover {
  color: $hoverColor;
  opacity: $hoverOpacity;
}
.dotHover{
  color: $hoverColor;
  opacity: $hoverOpacity;
}
.dotHover::before{
  border: $dotWeight solid $hoverColor;
}
.dotHover::after{
  border: $dotWeight solid $hoverColor;
}
.lineHover{
  .bg-line {
    opacity: $hoverOpacity;
     width: 100%;
     height: 100%;
     &--h {
        background: linear-gradient(0deg, $hoverColor, $hoverColor) 50% 50% no-repeat;
        background-size: $thickness 100%;
     }
  }
}
