.logo{
  color: white;
  opacity: 0.8;
  font-size: 8em;
  width: 100%;
  font-family: "Lato", sans-serif;
  font-weight: 900;
  text-align: center;
}
.frontPageContent{
  width: 100%;
  margin:auto;
  vertical-align: middle;
  display: inline-block;
}
.mainContrainer{
  height: 100%;
  text-align: center;
  position: relative;
}
.menuButton{
  border-bottom: 3px solid white;
  text-decoration: none;
  color: white;
  letter-spacing: 0.3mm;
  text-align: center;
}
.menu{
  color: white;
  font-size: 2.3em;
  width: 100%;
  font-family: "Lato", sans-serif;
  font-weight: 900;
  text-align: center;
}
.logoContainer{
}
.menuContainer{
  height: 100%;
}
