a {
    color:white;
    text-decoration: none;
    opacity:0.8;
}
a:hover {
    color: white;
    text-decoration: none;
    opacity: 1.0;
}
a:active {
  color: white;
  text-decoration: none;
}
a:visited {
  color: white;
  text-decoration: none;
}

.pageBackground{
  margin-top: 1%;
  opacity: 0.5;
  color: white;
  text-align:center;
  background-color: black;
}
.pageLogo{
  font-family: 'Lato', sans-serif;
  font-size: 5em;
  font-weight: 900;
}
